#pasos {
  position: fixed;
  top: 30%;
  left: 70%;
}
p {
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

input[type="text"] {
  width: 750px;
  font-weight: bolder;
  font-size: 1.8em;
}

div {
  margin: 5vw;
  padding: 5vw;
  border-radius: 2vh;
  background: #5bb4f8;
}

a {
  background: #8e52ff;
  border-radius: 1vh;
  color: #fbfbff;
  text-decoration: none;
  padding: 1vh;
  width: 30vw;
  margin: 2vh;
  font-weight: bold;
}
a:hover {
  background-color: #dac9fa;
  color: #8e52ff;
}

input[type="button"]:hover {
  background-color: #dac9fa;
  color: #8e52ff;
}

input[type="button"] {
  background: #8e52ff;
  border-radius: 1vh;
  border: none;
  color: #fbfbff;
  text-decoration: none;
  padding: 1vh;
  width: 40vw;
  margin: 2vh;
  font-weight: bold;
}
body {
  font-family: "Courier New", Courier, monospace;
  background: #b1beff;
}
